In [1]:
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

% matplotlib inline

In [11]:
data = pd.read_csv('/data/flights/airports.txt', sep=",", header=None)
data.columns = ["Airport ID", "Name", "City", "Country", "IATA", "ICAO", "Latitude", "Longitude", "Altitude", "Timezone", "DST", "Tz", "Type", "Source"]

In [12]:
data.to_csv('/data/flights/airports.csv', index=False)

In [9]:
data.head()

,Airport ID,Name,City,Country,IATA,ICAO,Latitue,Longitude,Altitude,Timezone,DST,Tz,Type,Source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [14]:
import warnings
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [15]:
data = sm.datasets.co2.load_pandas()
y = data.data

In [18]:
y

              co2
1958-03-29  316.1
1958-04-05  317.3
1958-04-12  317.6
1958-04-19  317.5
1958-04-26  316.4
1958-05-03  316.9
1958-05-10    NaN
1958-05-17  317.5
1958-05-24  317.9
1958-05-31    NaN
1958-06-07    NaN
1958-06-14    NaN
1958-06-21    NaN
1958-06-28    NaN
1958-07-05  315.8
1958-07-12  315.8
1958-07-19  315.4
1958-07-26  315.5
1958-08-02  315.6
1958-08-09  315.1
1958-08-16  315.0
1958-08-23    NaN
1958-08-30  314.1
1958-09-06  313.5
1958-09-13    NaN
1958-09-20    NaN
1958-09-27    NaN
1958-10-04    NaN
1958-10-11    NaN
1958-10-18    NaN
...           ...
2001-06-09  373.1
2001-06-16  372.8
2001-06-23  372.9
2001-06-30  372.7
2001-07-07  372.1
2001-07-14  371.3
2001-07-21  371.2
2001-07-28  370.6
2001-08-04  369.9
2001-08-11  369.5
2001-08-18  369.3
2001-08-25  369.0
2001-09-01  368.4
2001-09-08  368.2
2001-09-15  368.0
2001-09-22  367.4
2001-09-29  367.4
2001-10-06  367.8
2001-10-13  367.6
2001-10-20  368.1
2001-10-27  368.7
2001-11-03  368.7
2001-11-10  368.8
2001-11-17  369.7
2001-11-24  370.3
2001-12-01  370.3
2001-12-08  370.8
2001-12-15  371.2
2001-12-22  371.3
2001-12-29  371.5

[2284 rows x 1 columns]